
.title-font {
    font-size: $md;
}
.text-shadow {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.45);
}

.title-content-country > p:first-child{
  font-size: $md;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.45);
}

.title-content-country > p:last-child{
  font-size: 20px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.45);
}


.text-shadow{
  text-shadow: 1px 1px 4px rgba(0,0,0,0.45);
}

.title-font{
  font-size: $md;
}

.subtitle-font{
  font-size: 20px;
}

.text-center{
  text-align: $center;
}
