
*{
  margin: 0%;
  padding: 0%;
  font-family: 'Open Sans', sans-serif;
}

footer{
  height: 200px;
  width: 100%;
  background-color: #24272a;
  display: flex;
  align-items: center;
  align-self: flex-end;
  background: #24272a;
  color: white;
  margin-bottom: 0px;
}


.social-media-container{
  display: flex;
  justify-content: center;
  width: 300px;
}

.social-media-container > img{
  width: 30px;
  padding: 0 10px 0 10px;
}


.margin-top-lg{
  margin-top: 50px;
}
